:root {
    --fondo: radial-gradient(circle at 50% -20.71%, #5c514a 0, #3b3f41 25%, #162c39 50%, #001a31 75%, #00022a 100%);
  }
#nav{
    background-color: #172C39;
}

#title{
    color: white;
}
#title:hover {
    color: #EEEC28;
}
#menu{
    color: white;
}
#menu:hover{
    color: #EEEC28;
}
#name{
    color: white;
}
#name:hover{
    color: #EEEC28;
}
.navbar-default .navbar-nav>.open>a.dropdown-toggle{
    background-color: teal;
}
#titleLogin{
    background-image: var(--fondo);
    color: white;
    text-align: center;
    font-size: 200%;
    text-shadow: 2px 2px 2px red;
}
#panelLogin{
    background-image: var(--fondo);
    color: white;
}
body{
    background-image: url("../assets/img/main.jpg");
}
#panelLogin{
    opacity: 0.9;
}
#iconos{
    width: 3px;
    height: 3px;
    margin-right: 20px;
    
}
#titleuser{
    text-align: center;
}
